
<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th, td{border: 1px solid black}
            th{background-color: lavender}
        </style>
    </head>

    <body>
        <h2>All tasks</h2>
        <table>
                <tr>
                    <th>Task</th>
                    <th>When should be done</th>
                </tr>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.getDescription()}"></td>
                <td th:text="${task.getDeadline().capitalized}"></td>
            </tr>
        </table>


        <input type="button" value="Add a task" onclick="window.location.href='add'"/>
        <input type="button" value="Main page" onclick="window.location.href='/'"/>
<!--        <input type="button" value="Show today's tasks" onclick="window.location.href='/'"/>-->
<!--        <input type="button" value="Show week's tasks" onclick="window.location.href='/'"/>-->
<!--        <input type="button" value="Show someday tasks" onclick="window.location.href='/'"/>-->
    </body>
</html>