
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1> No tasks found. You can add a new task. </h1>
<form action="#" th:action="@{/save}" th:object="${task}">
    <p>Description: <input type="text" th:field="*{description}" /></p>
    <p> Task deadline: <select th:field="*{deadline}">
        <option value="today">Today</option>
        <option value="week">This week</option>
        <option value="someday">Some day</option>
    </select>
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>

</body>
</html>