
<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th, td{border: 1px solid black}
            th{background-color: lavender}
        </style>
    </head>

    <body>
        <h2>Someday tasks</h2>
        <input type="button" value="Show all tasks" onclick="window.location.href='all'"/>
        <input type="button" value="Show tasks for today" onclick="window.location.href='selectTasksForToday'"/>
        <input type="button" value="Show tasks for week" onclick="window.location.href='selectTasksForWeek'"/>
        <table>
                <tr>
                    <th>Task</th>
                    <th>When should be done</th>
                </tr>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.getDescription()}"></td>
                <td th:text="${task.getDeadline().capitalized}"></td>
            </tr>
        </table>
        <input type="button" value="Add a task" onclick="window.location.href='add'"/>
    </body>
</html>