
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Form</h1>
<form action="#" th:action="@{/save}" th:object="${task}">
    <p>Description: <input type="text" th:field="*{description}" required/></p>
    <p> Task deadline: <select th:field="*{deadline}">
        <option value="today">Today</option>
        <option value="week">This week</option>
        <option value="someday">Some day</option>
    </select>
    </p>
    <p>
        <input type="button" value="Save" th:attr="onclick=|saveUpdatedTask()|"/>
    </p>
</form>

</body>

<script>
    function saveUpdatedTask() {
        console.log("test")
        fetch('/saveUpdatedTask', {
            method: 'PUT'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Request failed.');
                }
                console.log('Task edited successfully');
                window.location.href = window.location.origin;
            })
            .catch(error => {
                console.error('Error editing task:', error);
            });
    }

</script>
</html>